PORT=3402
GLOBAL_PREFIX=api/v1

USER_SERVICE_HOST=localhost
USER_SERVICE_PORT=5002

TYPEORM_HOST=postgres
TYPEORM_PORT=5432
TYPEORM_TYPE=postgres
TYPEORM_USERNAME=postgres
TYPEORM_PASSWORD=postgres
TYPEORM_DATABASE=user_db

KAFKA_HOST=kafka
KAFKA_PORT=9092
KAFKA_URL=kafka:9092

# TYPEORM_HOST=ep-dark-field-aohfezkp-pooler.c-2.ap-southeast-1.aws.neon.tech
# TYPEORM_PORT=5432
# TYPEORM_TYPE=postgres
# TYPEORM_USERNAME=neondb_owner
# TYPEORM_PASSWORD=npg_IG2jaEWm8RlK
# TYPEORM_DATABASE=user_db
# TYPEORM_SSL=true
# POSTGRES_URI=postgresql://neondb_owner:npg_IG2jaEWm8RlK@ep-dark-field-aohfezkp-pooler.c-2.ap-southeast-1.aws.neon.tech/user_db?sslmode=require&channel_binding=require