name: stationery-provider

networks:
  stationery-nw:
    driver: bridge
    name: stationery-nw

services:
  mongo:
    image: mongo:latest
    container_name: mongodb
    ports:
      - 27017:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password
    volumes:
      - ./docker_data/mongodb_data:/data/db
    restart: unless-stopped
    networks:
      - stationery-nw

  postgres:
    image: postgres
    container_name: postgres_server
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: stationery-app
    ports:
      - '5432:5432'
    volumes:
      - ./docker_data/postgres_data:/var/lib/postgresql
    networks:
      - stationery-nw

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin_ui
    restart: unless-stopped
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - '5050:80'
    depends_on:
      - postgres
    volumes:
      - ./docker_data/pgadmin_data:/var/lib/pgadmin
    networks:
      - stationery-nw
